* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

.header {
	text-align: center;
}


#succeed-info {
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	margin: 2rem;
}

#succeed-info div > h3 {
	margin-bottom: 1rem;
}

#pre-footer div {
	/*	allows the cards to appear beside each other*/
	display: inline-block;
	/*	aligns the elements wih the tallest element in line */
	/*used with inline-block*/
	vertical-align: bottom;
	padding-left: 10px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    margin: 1rem;
    max-width: 28rem;
}

#pre-footer div > h3 {
	margin-bottom: 0.2rem;
}

#pre-footer div > p {
	margin-bottom: 0.2rem;
}



#pre-footer {
	background-color: #002540;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin: 0 0.5rem;
}

